body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5cb85c; /* Verde que remete ao campo */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.destaque {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.destaque h2 {
    color: #5cb85c;
}

.destaque-mitos a {
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.mito-secao {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mito h3, .verdade h3 {
    color: #388e3c; /* Verde mais escuro */
    margin-top: 0;
}

.voltar-topo {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #5cb85c;
    text-decoration: none;
}

.secao-geral {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}